{
  Layout = "_Layout";
}

@model SweetAndSavoryTreats.Models.Treat
<h2>Add a flavor to @Html.DisplayFor(model => model.Name)</h2>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add flavor" class="btn btn-outline-success">
}

<input type="button" class="btn btn-outline-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'">
<input type="button" class="btn btn-outline-primary" value="Back to details" onclick="location.href='@Url.Action("Details", new { id = Model.TreatId })'">
