@{
  Layout = "_Layout";
}

@model SweetAndSavoryTreats.Models.Flavor

<h2>Add a treat that has @Html.DisplayFor(model => model.Name)</h2>

<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  
  @Html.Label("Select treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add treat" class="btn btn-outline-success">
}

<input type="button" class="btn btn-outline-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'">
<input type="button" class="btn btn-outline-primary" value="Back to details" onclick="location.href='@Url.Action("Details", new { id = Model.FlavorId })'">
